





6.

Q #1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

# Answer Q1:

Values: "hello", -87.8, 6
Expressions: *, -, /, +

Q #2. What is the difference between string and variable?

#Answer Q2:
STRING: string is a data type which contains alphabets,numericals,characeters,etc these data can be defined in a single quote ('xyz') or double quote ("xyz") or triple quotes("""xyz """ or '''xyz ''')

VARIABLE : Variable is the object or entity which is used to store any kind of data or data types. variable needs to be assigned with any data to it. Example x="xyz", where x is a variable which is assigned with the string "xyz"

Q #3. Describe three different data types.

#ANSWER Q3:
Three different types are INT, FLOAT STR
INT- INT is a data type of numerical data of INTEGER
FLOAT - FLOAT is a data type of FLOATING POINT numbers
STR - STR is a data type used to store data in the string format as in above question examples

Q #4. What is an expression made up of? What do all expressions do?

#ANSWER Q4:
Expression is made up of values, variables , operations and operators. 
Expressions evaluate based on the operators and provide the intended result

Q#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?`

Expression is made up of variables, values and operators which is evaluated to give a result.
whereas the statements are used to assign a value to variable or display the values of a variable or print any statement or expression or variable or value

Q#6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

#Answer Q6.
after running the code
bacon = 22
bacon + 1
the bacon contains integer value 22 see the below cell for example

In [8]:
bacon=22
bacon+1
bacon

22

Q#7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

#ANSWER Q7: 
The answer is 'spamspamspam'

below is the code run

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

Q#8. Why is eggs a valid variable name while 100 is invalid?

#ANSWER Q8:
variable name can start with any alphabet or underscore but cannot start with numbers. hence eggs variable name is valid and 100 is invalid

Q#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#Answer Q9:
Three functions used are int(), float() and str().
example in below cell

In [12]:
print(int(100.8376))
print(float(20))
print(str(100.5))

100
20.0
100.5

Q#10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

#AnswerQ10:
'I have eaten ' + 99 + ' burritos.' this expression contains the concatenation operation between different types of data types
where 99 is a str and other two are strings hence this expression will cause an error.
if we type cast 99 as string in the form of str(99) in the above expression the error will be fixed. please see the below cell for fixed expression

In [13]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'